---
import "../styles/global.css";
import LayoutWithHero from "../layouts/LayoutWithHero.astro";
import myImage from "../assets/hero_page/hero_accueil.webp";
import Button from "../components/Button.astro";
import Card_accueil from "../components/Card_accueil.astro";

import imgPartenaire1 from "../assets/partenaire/accueil_arte.webp";
import imgPartenaire2 from "../assets/partenaire/accueil_canon.webp";
import imgPartenaire3 from "../assets/partenaire/accueil_credit-agricole.webp";
import imgPartenaire4 from "../assets/partenaire/accueil_france3.webp";
import imgPartenaire5 from "../assets/partenaire/accueil_rcf-radio.webp";
import imgPartenaire6 from "../assets/partenaire/accueil_salomon.webp";
import imgPartenaire7 from "../assets/partenaire/accueil_wwf.webp";
import ImagePB from "../components/ImagePB.astro";

const title = "Ça va Trail'er";
const heroAlt = "Description de l'image hero";

const partenaires = [
  { image: imgPartenaire1, nom: "Arte" },
  { image: imgPartenaire2, nom: "Canon" },
  { image: imgPartenaire3, nom: "Crédit Agricole" },
  { image: imgPartenaire4, nom: "France 3" },
  { image: imgPartenaire5, nom: "RCF Radio" },
  { image: imgPartenaire6, nom: "Salomon" },
  { image: imgPartenaire7, nom: "WWF" },
];
---

<LayoutWithHero title={title} heroImage={myImage} heroAlt={heroAlt}>
  <div slot="chapo" class="grid">
    <h2 class="mb-8">
      La prochaine édition de "Ça va trailer" ce déroulera du 15 au 21 avril
      2025
    </h2>
    <div class="flex justify-center mt-1.25 mb-8">
      <Button variant="default" url="/signup" text="RÉSERVER VOTRE PLACE" />
    </div>
    <div>
      <p class="font-bold mt-3">
        Le festival "Ça va trai'ler", situé à Belfort du 15 au 21 avril 2025,
        célèbre le trail running à travers des projections de films inspirants
        et des rencontres avec les cinéastes et les athlètes. Ce rendez-vous
        unique offre une immersion au cœur de ce sport exigeant, mettant en
        avant les défis, la nature sauvage et la détermination des athlètes à
        travers des récits captivants.
      </p>
    </div>
  </div>
  <div
    slot="content"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6"
  >
    <Card_accueil
      subtitle="Programme"
      description=`La programmation de "Ça va trai'ler" offre une sélection de films immersifs, courts métrages et trailers réalisés par de nouveaux artistes en collaboration avec des athlètes, mettant en lumière l'énergie et la passion du trail running.`
      buttonUrl="/signup"
      buttonText="PROGRAMME"
    />
    <Card_accueil
      subtitle="Invité"
      description=`Des invités d'exception au rendez-vous ! Rencontrez des artistes, réalisateurs et intervenants passionnants qui feront de ce festival une expérience unique et inoubliable.`
      buttonUrl="./invite"
      buttonText="INVITÉS"
    />
    <Card_accueil
      subtitle="Billeterie"
      description=`Réservez vos billets pour "Ça va trail'er" et vivez une expérience unique autour du trail running à Belfort, du 15 au 21 avril 2025 !`
      buttonUrl="/signup"
      buttonText="BILLETERIE"
    />
    <Card_accueil
      subtitle="Infos pratiques"
      description=`Préparez votre venue au festival ! Découvrez toutes les informations essentielles pour organiser votre expérience : accès, hébergements, lieux et billetterie gratuite.`
      buttonUrl="/signup"
      buttonText="INFOS PRATIQUES"
    />
  </div>
  <div slot="content" class="mt-16">
    <h2 class="text-3xl mb-8">Nos partenaires</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-8 mt-8">
      {
        partenaires.map((partenaire) => (
          <div class="flex items-center justify-center p-4">
            <img
              src={partenaire.image.src}
              alt={`Logo ${partenaire.nom}`}
              class="max-h-20 object-contain"
            />
          </div>
        ))
      }
    </div>
  </div>
</LayoutWithHero>
