---
import "../../styles/global.css";
import LayoutWithHero from "../../layouts/LayoutWithHero.astro";
import myImage from "../../assets/hero_page/hero_invites.webp";
import ImagePB from "../../components/ImagePB.astro";

import { getFilm } from "../../../Backend/backend.mjs";
import { getFilmByID } from "../../../Backend/backend.mjs";

const { id } = Astro.params;
const film = await getIFilmByID(id);

if (!film) {
  return Astro.redirect("/films");
}

const heroAlt = "Image Hero de la page invité";
---

<LayoutWithHero
  title={film.titre_film}
  heroImage={myImage}
  heroAlt={heroAlt}
>
  <div slot="chapo" class="grid">
    <p>
      {invite.chapo_invite}
    </p>
  </div>
  <div class="grille" slot="content">
    <div>
      <ImagePB
        record={invite}
        field="photo_invite"
        alt={invite.photo_invite}
        classPicture="duotone col-start-1 row-start-1 col-span-2 row-span-2 group-hover:before:bg-black"
        classImg="group-hover:grayscale-0 group-hover:mix-blend-normal"
      />
    </div>
    <div class="flex flex-col gap-4 mb-10">
      <h3 class="mt-4">Biographie</h3>
      <p>{invite.bio_invite}</p>
    </div>
    <div>
      <h3>Intervention</h3>
      <p>{invite.intervention}</p>
    </div>
  </div>
</LayoutWithHero>
