---
import "../../styles/global.css";
import LayoutWithHero from "../../layouts/LayoutWithHero.astro";
import myImage from "../../assets/hero_page/hero_films.webp";
import ImagePB from "../../components/ImagePB.astro";
import { getFilmByID } from "../../../Backend/backend.mjs";

const { id } = Astro.params;
const film = await getFilmByID(id);

if (!film) {
  return Astro.redirect("/films");
}

const heroAlt = "Image Hero de la page invité";
---

<LayoutWithHero title={film.titre_film} heroImage={myImage} heroAlt={heroAlt}>
  <div slot="chapo" class="grid">
    <p>
      {film.chapo_film}
    </p>
  </div>
  <section
    slot="content"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 items-start"
  >
    <!-- Colonne 1 : Affiche du film -->
    <div class="w-full rounded-xl overflow-hidden border-2 border-red-700">
      <ImagePB
        record={film}
        field="affiche_film"
        alt={film.titre_film}
        classPicture="w-full h-full rounded-xl"
        classImg="w-full h-full object-cover"
      />
    </div>

    <!-- Colonne 2 : Infos + description -->
    <div class="flex flex-col gap-4">
      <!-- Date et salle -->
      <div class="text-center lg:text-left">
        <p class="font-bold">{film.date_projection}</p>
        <p class="text-3xl font-extrabold">{film.heure_projection}</p>
        <p class="font-bold text-lg">{film.salle_film}</p>
      </div>

      <!-- Réalisateur -->
      <p class="text-sm text-gray-700">
        Réalisation : {film.expand?.realisateur_film.prenom_invite}
        {film.expand?.realisateur_film.nom_invite}
      </p>

      <!-- Titre et détails -->
      <h1 class="text-2xl font-bold uppercase">{film.titre_film}</h1>
      <p class="text-gray-600 italic text-sm">
        {film.pays} - {film.duree_film} minutes
      </p>

      <!-- Description -->
      <p class="text-sm text-gray-800">{film.description_film}</p>
    </div>
  </section>
  <div slot="content" class="flex flex-col justify-center mt-10 gap-10">
    <video class="w-full" width="640" height="360" controls>
      <source
        src="../../assets/videos/teaser_vers-les-sommets.mp4"
        type="video/mp4"
      />
      Votre navigateur ne supporte pas la balise vidéo.
    </video>
    <div>
      <a href={`/invite/${film.expand?.realisateur_film.id}`}>
        <div class="mt-4 p-4 border-l-4 border-red-700 bg-gray-100 rounded-md">
          <h3 class="text-lg font-semibold mb-4">
            À propos du réalisateur : {
              film.expand?.realisateur_film.prenom_invite
            }
            {film.expand?.realisateur_film.nom_invite}
          </h3>
          <p class="text-sm text-gray-800">
            {film.expand?.realisateur_film.bio_invite}
          </p>
        </div>
      </a>
    </div>
  </div>
</LayoutWithHero>
