---
import ImagePB from "./ImagePB.astro";
const { ...film } = Astro.props;
---

<article
  class="flex flex-col gap-4 border-2 border-red-700 rounded-xl shadow-md max-w-xs text-center overflow-hidden"
>
  <!-- Affiche du film -->
  <a href={`/films/${film.id}`} class="w-full">
    <div class="w-full rounded-xl overflow-hidden">
      <ImagePB
        record={film}
        field="affiche_film"
        alt={film.affiche_film}
        classPicture="w-full h-full rounded-xl"
        classImg="w-full h-full object-cover"
      />
    </div>

    <!-- Informations du film -->
    <div class="flex flex-col gap-2 p-4">
      <h3 class="text-lg font-bold">{film.titre_film}</h3>
      <p class="text-gray-500">
        ({film.annee_sortie}, {film.pays}, {film.duree_film} minutes)
      </p>

      <p class="text-sm text-gray-600">
        <span class="font-semibold">Réalisateur :</span>
        {film.realisateur_film}
      </p>

      <p class="text-sm">{film.date_film}</p>
      <p class="text-xl font-bold">{film.heure_film}</p>
      <p class="text-lg font-extrabold">{film.salle_film}</p>
    </div>
  </a>
</article>
