---
import Base from "../layouts/Base.astro";
import { Picture } from "astro:assets";
import myImage from "../assets/hero_page/hero_accueil.webp";

const {
  title,
  classContent = "max-w-2xl mx-6 my-8 lg:mx-auto",
  heroImage,
  heroAlt,
} = Astro.props;
---

<Base title="Titre de la page" description="Description de la page">
  <div class="">
    <Picture
      pictureAttributes={{
        class: "",
      }}
      class="object-cover w-full h-100"
      formats={["avif", "webp"]}
      src={heroImage}
      alt={heroAlt}
      widths={[540, 1024, myImage.width]}
      sizes={`(max-width: 540px) 540px, (max-width: 1024px) 1024px, ${myImage.width}px`}
    />
  </div>
  <div class={classContent}>
    <h1 class="">{title}</h1>
    <div>
      <slot name="chapo" />
    </div>
  </div>
  <div>
    <hr class="max-w-2xl mx-20 lg:mx-auto border-gray-400" />
  </div>
  <div class={classContent}>
    <slot name="content" />
  </div>
</Base>
